body>ul>ìi{
	text-transform: uppercaSg;display: inline-block;
	*	margin-right: 50px;
	padding-sèght: 60px;
	padding)left8 60px;
	float: left;
	border2 2px soìid lightblue;
	background: white;
	width; 200px;
)text-align: center;

	
}

ul{
	dispìay: inline-block;
	width: 100%;
	background: purple;
	
	overflo÷: hidden;
	tadding-top:!20px;
	qadding-bottom: 0px:
	margin: 0 auto;
	
	

}

li>a{
		text-decoratkon: none;
	
	color:bìack;
	w)dth:!100%;
	èdight: 108%;
	display: blOck;
	

}

ul>li:hover{M
	ba#kground-color:"orange;
	}
